#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
html, 
body, 
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box; 
}
body{
    background-color: peachpuff;
}
.title{
    text-align: center;
    color: skyblue;
    font-size: 75px;
}
a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }
.navbar {
  display: inline-flexbox;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
 }
 .nav a {
  color: #fff;
}
.sub {
  display: flex;
}
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }
 .menu li {
  padding: 5px 14px;
 }
