html,
body,
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-align: center;
}
body {
  background-color: #edf3c8;
}
.title {
  text-align: center;
  color: skyblue;
  font-size: 75px;
}
