#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
html, 
body, 
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box; 
}
body{
    background-color: peachpuff;
}
.title{
    text-align: center;
    color: skyblue;
    font-size: 75px;
}
<<<<<<< Updated upstream
.btn-container {
    text-align: center;
    align-items: center;
    padding: 0.5rem;
  }
  
  .btn-box {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  #btn {
    font-size: 2.54rem;
    background-size: 10vw;
    border-radius: 2rem;
    padding: 2rem;
    margin: 1rem;
  }
  
=======
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
>>>>>>> Stashed changes
